body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #000000; 
    padding: 20px;
    color: white; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
    justify-content: first baseline; 
}

nav ul li {
    margin-right: 10px;
    display: list-item;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}