
body {
    background-color: rgb(54, 25, 25);
    color: white;
    font-family: 'poppinsregular', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}



main {
    display: flex;
    flex-direction: column; 
    margin-top: 51px;
}

h2 {
    font-size: 47px;
    font-family: 'poppinsmedium', sans-serif;
    text-align: center;
    color:rgb(255, 1, 1);
}
.Trab {
    display: grid;
    grid-template-columns: repeat(1, 417px);
    grid-gap: 55px;
    padding: 50px;
    width: 100%;
}

.img-trab {
    text-align: center;
    padding: 10px;
    border: 10px solid  rgb(255, 1, 1);
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
}